<!-- {{isLoggedIn}} -->
<!-- {{name1}} -->

<!-- <app-login *ngIf="!isLoggedIn"></app-login> -->
<!-- <app-welcome *ngIf="isLoggedIn"></app-welcome> -->
<style>a{cursor: pointer;}</style>
<nav class="navbar navbar-inverse">
<!-- <nav class="navbar navbar-inverse"> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand">Users</a> -->
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active" *ngIf="rocketService.isLoggedIn">Users</a>
      </li>
      <!-- <li>
        <a routerLink="/welcome" routerLinkActive="active" *ngIf="rocketService.isLoggedIn">Users</a>
      </li> -->
      <li>
        <a (click)="logout()" routerLinkActive="active" *ngIf="rocketService.isLoggedIn">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  isLoggedIn : {{rocketService.isLoggedIn}}
  <router-outlet></router-outlet>
</div>